{% extends 'base_with_menu.html' %}
{% block content %}

{% load crispy_forms_tags %}

<main class="container mt-3">
    <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <div class="text-center mt-5 b-1">
            <h1 class="h3 mb-3 font-weight-normal">Jobba hunt</h1>
            <p class="h5 font-weight-light">Ваше резюме</p>
        </div>

        {% if updated %}
        <p class="mt-3 alert alert-info" role="alert">Ваше резюме обновлено!</p>
        {% endif %}

        <div class="mt-3 form-label-group">
            <form method="post" action="{% url 'user_resume_edit' %}">
                {% csrf_token %}
                <table>{{ form|crispy }}</table>
                <button type="submit" class="btn btn-success btn-lg btn-block">Сохранить изменения</button>
            </form>
        </div>

        <div class="my-3 form-label-group">
            <form method="post" action="{% url 'user_resume_delete' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg btn-block">Удалить резюме</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}