{% extends 'base_with_menu.html' %}
{% block content %}

{% load crispy_forms_tags %}

<main class="container mt-3">
    <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <div class="text-center mt-5 b-1">
            <h1 class="h3 mb-3 font-weight-normal">Jobba hunt</h1>
            <p class="h5 font-weight-light">Создание компании</p>
        </div>

        <div class="mt-5 form-label-group">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-lg btn-block">Создать компанию</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}