{% extends 'base_with_menu.html' %}
{% block content %}

<main class="container mt-3 pb-5">
    <div class="col-12 col-lg-6 offset-lg-3">
        <section class="mt-5 card text-center">
            <div class="card-header">
                Моя компания
            </div>
            <div class="card-body px-3 pb-4">
                <p class="mt-2">Пока мы думаем, что вы – частное лицо. Хотите создать карточку компании, разместить
                    информаию и вакансии?</p>
                <a href="{% url 'user_company_create' %}" class="btn btn-info btn-lg">Создать карточку компании</a>
            </div>
    </div>
    </section>
</main>

{% endblock %}