{% extends 'base.html' %}
{% block menu %}

{% load static %}

<header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand mr-4" href="{% url 'main' %}">
            <img src="{% static "menu/jobs.svg" %}" width="50" height="50" alt=" ">
            Jobba Hunt
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav col-10">
                <li class="nav-item {% if request.resolver_match.url_name == "vacancies" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "companies" %}active{% endif %}">
                    <a class=" nav-link" href="{% url 'companies' %}">Компании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О проекте</a>
                </li>
            </ul>
            <ul class="navbar-nav col-2 justify-content-end">
                {% if user.is_authenticated %}
                <li class="nav-item active dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><b
                            class="caret">{{ user.get_full_name }}</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a class="nav-link" href="{% url 'user_resume' %}">Резюме</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link" href="{% url 'user_company' %}">Компания</a>
                        </li>
                        {% if user.company %}
                        <li class="dropdown-item">
                            <a class="nav-link" href="{% url 'user_company_vacancies' %}">Вакансии</a>
                        </li>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-item">
                            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

{% endblock %}