{% extends 'base_with_menu.html' %}
{% block content %}

{% load crispy_forms_tags %}

<main class="container mt-3">
    <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <div class="text-center mt-5 b-1">
            <h2 class="h2 font-weight-normal text-center mb-5">Jobba hunt</h2>
            <p class="h5 font-weight-light mb-5">Пока тут ничего нет ;)</p>
            <p class="h5 font-weight-light mb-5">Заходите на мой <a href="https://github.com/sonulen/">github</a></p>
        </div>
    </div>
</main>

{% endblock %}